@model decelerate.Views.PresenterArea.IndexModel
@{
    ViewData["Title"] = "Presenter Area";
    ViewData["HomeController"] = "PresenterArea";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to the presenter area!</h3>
        The audience wants you to ...
        <div id="statusDiv" class="alert alert-@Model.Color display-1 text-center">
            <p id="statusText">@Model.Text</p>
        </div>
        <div class="d-flex">
            <div class="alert alert-danger" style="width: @((100 - Model.DangerThreshold) / 2)%"></div>
            <div class="alert alert-warning" style="width: @((Model.DangerThreshold - Model.WarningThreshold) / 2)%"></div>
            <div class="alert alert-success" style="width: @Model.WarningThreshold%"></div>
            <div class="alert alert-warning" style="width: @((Model.DangerThreshold - Model.WarningThreshold) / 2)%"></div>
            <div class="alert alert-danger" style="width: @((100 - Model.DangerThreshold) / 2)%"></div>
        </div>
        <input type="range" class="custom-range" id="statusSlider" min="-100" max="100" value="@Model.AverageSpeedChoice" disabled />
        <div class="d-flex justify-content-around">
            <div>&#10229; slower</div>
            <div>faster &#10230;</div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h4 class="text-center">Individual votes</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Speed Choice</th>
                </tr>
            </thead>
            <tbody id="users">
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <th scope="row">@user.Name</th>
                        <td>@(user.SpeedChoice.HasValue ? user.SpeedChoice.ToString() : "none")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<template id="userTemplate">
    <tr>
        <th scope="row">[name]</th>
        <td>[speedChoice]</td>
    </tr>
</template>

@section Scripts {
    <a id="pollUrl" asp-controller="PresenterArea" asp-action="Poll"></a>
    <script src="~/js/presenterarea.js" asp-append-version="true"></script>
}