@model decelerate.Views.PresenterArea.IndexModel
@{
    ViewData["Title"] = "Presenter Area";
    ViewData["HomeController"] = "PresenterArea";
}

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to the presenter area, @User.Identity.Name!</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Your rooms</h5>
        @if (Model.Presenter.Rooms == null || Model.Presenter.Rooms.Count == 0)
        {
            <p><em>You have no rooms yet. Use the form to create one.</em></p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Public?</th>
                            <th scope="col">Admission code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model.Presenter.Rooms)
                        {
                            <tr>
                                <th scope="row">@room.Id</th>
                                <td><a asp-controller="PresenterArea" asp-action="ShowRoom" asp-route-id="@room.Id">@room.Name</a></td>
                                <td>@room.Public</td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" readonly="readonly" value="@room.AdmissionCode" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h5>Create a new room</h5>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" placeholder="Enter a room name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="Public" />
                    <label class="form-check-label" asp-for="Public"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Navigation {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="PresenterArea" asp-action="Logout">Logout</a>
    </li>
}