@model decelerate.Views.PresenterArea.ShowRoomModel
@{
    ViewData["Title"] = "Room";
    ViewData["HomeController"] = "PresenterArea";
    /* Calculate slider thresholds: */
    uint t1 = (100 - Model.DangerThreshold) / 2;
    uint t2 = (100 - Model.WarningThreshold) / 2;
    uint t3 = (100 + Model.WarningThreshold) / 2;
    uint t4 = (100 + Model.DangerThreshold) / 2;
    /* Create gradient: */
    var gradient = $"linear-gradient(90deg, #f8d7da {t1 - 2}%, #fff3cd {t1 + 2}%, #fff3cd {t2 - 2}%, #d4edda {t2 + 2}%, #d4edda {t3 - 2}%, #fff3cd {t3 + 2}%, #fff3cd {t4 - 2}%, #f8d7da {t4 + 2}%)";
}

<div class="row">
    <div class="col-md-12">
        <h3>Room “@Model.Room.Name”</h3>
        The audience wants you to ...
        <div id="statusDiv" class="alert alert-@Model.Color display-1 text-center">
            <p id="statusText">@Model.Text</p>
        </div>
        <div class="w-100 alert alert-secondary px-0" style="background: @gradient;">
            <div class="text-right" style="width: @Model.TransformedAverageSpeedChoice%" id="statusSlider">&#11044;</div>
        </div>
        <div class="d-flex justify-content-around">
            <div>&#10229; slower</div>
            <div>faster &#10230;</div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h4 class="text-center">Individual votes</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Vote</th>
                </tr>
            </thead>
            <tbody id="users">
                @foreach (var user in Model.Room.Users)
                {
                    <tr>
                        <th scope="row">@user.Name</th>
                        <td>
                            @if (user.SpeedChoice.HasValue)
                            {
                                <div class="w-100 alert alert-secondary p-0" style="background: @gradient;">
                                    <div class="text-right" style="font-size: .75em; width: @user.TransformedSpeedChoice%">&#11044;</div>
                                </div>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<template id="userTemplateNotVoted">
    <tr>
        <th scope="row">[name]</th>
        <td><span>-</span></td>
    </tr>
</template>
<template id="userTemplateVoted">
    <tr>
        <th scope="row">[name]</th>
        <td>
            <div class="w-100 alert alert-secondary p-0" style="background: @gradient;">
                <div class="text-right innerUserSlider" style="font-size: .75em">&#11044;</div>
            </div>
        </td>
    </tr>
</template>

@section Navigation {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="PresenterArea" asp-action="ManageRoom" asp-route-id="@Model.Room.Id">Manage room</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="PresenterArea" asp-action="Logout">Logout</a>
    </li>
}
@section Scripts {
    <a id="pollUrl" asp-controller="PresenterArea" asp-action="PollRoom" asp-route-id="@Model.Room.Id"></a>
    <a id="hubUrl" asp-controller="PresenterArea" asp-action="Hub"></a>
    <input id="roomId" type="hidden" value="@Model.Room.Id" />
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/presenterarea.js" asp-append-version="true"></script>
}